@page
@model CinemaBooking.Pages.Transactions.ListModel

<style>
	body{
		background-color:black;
	}
</style>

<form method="get">
    <div class="container p=5">
        <div class="row pt-4">
            <div class="col-6">
                <h2 style="color:red">Payment History</h2>
            </div>
        </div>
        <table style="border:solid">
            <thread>
                <tr style="border:solid">
                    <th scope="col" style="color:red">
                        Card Number
                    </th>
                    <th scope="col" style="color:red">
                        Card Provider
                    </th>
                    <th scope="col" style="color:red">
                        Date of Purchase
                    </th>
                    <th scope="col" style="color:red">
                        Total Amount Purchased
                    </th>
                </tr>
            </thread>
            <tbody>
                @foreach (var obj in Model.Payment)
                {
                    <tr style="border:solid">
                        <td width="20%" scope="row" style="color:red" style="border:solid">@obj.CreditCNum</td>
                        <td width="20%" scope="row" style="color:red" style="border:solid">@obj.CardType</td>
                        <td width="20%" scope="row" style="color:red" style="border:solid">@obj.Date.ToString("MMM yyyy")</td>
                        <td width="20%" scope="row" style="color:red" style="border:solid">@obj.total</td>
                    </tr>
                    <tr>
                        @foreach(var nobj in Model.BuyTickets){
                            <td>
                                <a class ="btn btn-primary" asp-page="/Transactions/TicketDetails" asp-route-id="@nobj.TicketNum">Get Ticket</a>
                            </td>
                            }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</form>