@page
@model CinemaBooking.Pages.Shows.ShowingsModel

<style>
    body{
    background-color: black;
    }
</style>

<div class="container p=5">
    <div class="row pt-4">
        <div class="col-6">
            <h2 style="color:red">Current Shows</h2>
        </div>
    </div>
    <a class="btn btn-primary" asp-page="/SeatSelection/MovieTimeSelection"> Buy Tickets</a>
    <table>
        <thread>
            <tr>
                <th scope="col" style="color:red">
                    Title
                </th>
                <th scope="col" style="color:red">
                    Genre
                </th>
                <th scope="col" style="color:red">
                    Rating
                </th>
                <th scope="col" style="color:red">
                    Director
                </th>
                <th scope="col" style="color:red">
                    Description
                </th>
            </tr>
        </thread>
        <tbody>
            @foreach(var obj in Model.Showings)
            {
                <tr>
                    <td width="20%" scope="row" style="color:red">@obj.MovieTitle</td>
                    <td width="20%" scope="row" style="color:red">@obj.Genre</td>
                    <td width="20%" scope="row" style="color:red">@obj.Rating</td>
                    <td width="20%" scope="row" style="color:red">@obj.Director</td>
                    <td width="20%" scope="row" style="color:red">@obj.Description</td>

                </tr>
            }
        </tbody>
    </table>
</div>