@page
@model CinemaBooking.Pages.SeatSelection.MovieTimeSelectionModel
@{
	<style>
				.Showtimes {
					position: fixed;
					top: 5.5%;
					bottom: 0;
					left: 0;
					right: 0;
					display: flex;
					flex-direction: column;
					height: 100vh;
				}
				.showtimes-filters {
					border-top: 2px solid rgba(225,225,225,.35);
					border-bottom: 2px solid rgba(225,225,225,.35);
				}
				.u-container {
					margin: 0 auto;
					max-width: 1260px;
					padding: 0 20px;
				}
				.Dropdown-Taskbar {
					height: 51px;
					display: flex;
					margin-bottom: 0px;
					padding: 0 1.5em;
					position: relative;
					overflow: hidden;
					top: -1px;
					width: 100%;
					z-index: 1;
					transition: height .3s ease-in-out;
				}
				.Dropdown-Action {
					flex-wrap: nowrap;
					flex-direction: row;
					padding: 0 20px;
					align-items: center;
					height: 100%;
					justify-content: space-between;
					padding: 8px 4px;
					position: relative;
					cursor: pointer;
				}
				.Dropdown-Select {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					appearance: none;
					color: transparent;
					border: 0;
					background: transparent;
					font-size: 13px;
					cursor: pointer;
				}
				.Dropdown-Wrapper {
					width: auto;
					height: 51px;
					max-width: 24%;
					border-right: 2px solid;
				}
				.Title {
					font-size: 16px;
					width: auto;
					white-space: nowrap;
					color: white;
					padding-right: 18px;
					padding-left: 18px;
					display: initial;
					max-height: 30px;
					overflow: hidden;
					text-overflow: ellipsis;
					padding-top: 4px;
					padding-bottom: 4px;
					text-align: center;
				}
				.Filter {
					position: relative;
					height: 100%;
					width: 6%;
				}
				.filterText {
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					color: white;
					font-size: 12px;
					font-weight: bold;
					text-transform: uppercase;
				}
				.Background-Container {
					background-color: black;
				}
				.Background-Image {
					transition-property: opacity;
					transition-delay: .15s;
					transition-duration: .5s;
					filter: blur(1px);
					-webkit-filter: blur(1px);
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					clip: rect(auto,auto,auto,auto);
					clip-path: inherit;
					overflow: hidden;
					z-index: -1;
					transform: translateZ(0);
				}
				.image {
					position: absolute;
					top: 0;
					left: 0;
					height: 100%;
					width: 100%;
					background-repeat: no-repeat;
					background-position: center;
					background-size: cover;
				}
				.icon {
					font-size: 1.5rem;
					color: white;
				}
	</style>
	<div class="Showtimes">
	<form method="post">
	<div class="showtimes-filters">
				<div class="u-container">
					<div class="Dropdown-Taskbar">
						<div class="Filter">
							<span class="filterText">Filter by</span>
						</div>
						<div class="Dropdown-Wrapper">
							<div class="Dropdown-Action">
								<i class="bi bi-geo-alt icon"></i>
								<div class="Title" id="locations" aria-hidden="true">
									@Model.selectedLocation
								</div>
								<i class="bi bi-arrow-down-circle icon"></i>
								<select class="Dropdown-Select" asp-for="selectedLocation" asp-items="@Model.Cinema" 
									onchange="this.form.submit();"></select>
							</div>
						</div>
						<div class="Dropdown-Wrapper">
							<div class="Dropdown-Action">
								<i class="bi bi-calendar-date icon"></i>
								<div class="Title" id="date" aria-hidden="true">
									@Model.selectedDate
								</div>
								<i class="bi bi-arrow-down-circle icon"></i>
								<select class="Dropdown-Select" asp-for="selectedDate" asp-items="@Model.Dates" 
									onchange="this.form.submit();"></select>
							</div>
						</div>
						<div class="Dropdown-Wrapper">
							<div class="Dropdown-Action">
								<i class="bi bi-film icon"></i>
								<div class="Title" id="movie" aria-hidden="true">
									@Model.selectedMovie
								</div>
								<i class="bi bi-arrow-down-circle icon"></i>
								<select class="Dropdown-Select" asp-for="selectedMovie" asp-items="@Model.Movie" 
									onchange="this.form.submit();"></select>
							</div>
						</div>
						<div class="Dropdown-Wrapper">
							<div class="Dropdown-Action">
								<i class="bi bi-pin-angle icon"></i>
								<div class="Title" id="Theater Options" aria-hidden="true">
									@Model.selectedTheaterOptions
								</div>
								<i class="bi bi-arrow-down-circle icon"></i>
								<select class="Dropdown-Select" asp-for="selectedTheaterOptions" onchange="this.form.submit();">
									<option>Reserved Seating</option>
									<option>Closed Caption</option>
								</select>
							</div>
						</div>
					</div>
				</div>
	</div>
	</form>
	<div class="Background-Container">
				<div class="Background-Image">
					<img img class="image" src="~/seatRoom.jpg" />
				</div>
	</div>
	</div>
}
